/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*general styles*/
body {
min-height: 100vh;
display: flex;
flex-direction: column;
/*generic project styles*/
color: #3a3a3a;
font-family: 'Lato', sans-serif;
}

/*header*/
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

/*main*/
main {background-color: lightblue;
    /*make main take up remaining space*/
    flex: 1 0 auto
}

/*footer*/
footer {
    background-color: orange;
}